# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/<your_database>
DATABASE_POOL_SIZE=5
DATABASE_MAX_OVERFLOW=10

#API
API_V1_PREFIX=/api/v1
PROJECT_NAME="Analytics API"
DEBUG=True

#security
SECRET_KEY=your_secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=300
ALGORITHM=HS256

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8000"]